.body{}

.container{
	margin: 30px 100px;
}

.cabecera{
	background-color: rgba(0,123,255,0.15);
}

.cabecera li:hover a{
	color: #007BFF;
}

.menu-holidays{
	background-color: rgb(0,123,255);
	max-width: 60px;
	z-index: 999;
	height: 100vh;
}

.menu-holidays li, .menu-holidays ul{
	list-style-type: none;
	padding:0;
	margin:0;
}

/*CALENDAR VIEW*/

.calendarMenu .addBtn, .calendarMenu .editBtn{
	font-size: 2rem;
}

.calendarUsers i{
	font-size: 2rem;
}

.calendarUsers span {
	line-height: 1;
}

.calendarUsers span:nth-child(2){
	font-size: 0.8rem;
	font-style: italic;
}

.calendarDisplay{
	height: 80vh;
	overflow-y: scroll;
}

/*DEPARTMENTS VIEW*/

.departmentsMenu .addBtn{
	font-size: 2rem;
}

.departmentsMenu{
	line-height: 1;
}

.departmentsDisplay{
	height: 80vh;
	overflow-y: scroll;
}

/*DMEMBERS VIEW*/
.membersMenu .addBtn{
	font-size: 2rem;
}

.membersMenu{
	line-height: 1;
}

.membersList i{
	font-size: 2.3rem;
}

.membersList span {
	line-height: 1;
}

.membersList span:first-child{
	font-size: 1.2rem;
}

.membersList span:nth-child(2){
	font-style: italic;
}

.membersDisplay{
	height: 80vh;
	overflow-y: scroll;
}

/*PROFILE VIEW*/

.ownProfileDisplay{
	height: 80vh;
	overflow-y: scroll;
}

.userProfileForm{
	max-width: 600px;
}